.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-center  {
  text-align: center;
}

.section__header {
  margin-top: 24px;
  margin-bottom: 36px;
}

.feedback-form {
  width: 560px;
  margin: 0 auto;
}

.feedback-form__wrapper {
  padding: 24px 36px;
}

.feedback-form__legend {
  margin-left: 24px;
}

.feedback-form__el {
  float: left;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.feedback-form__el.label {
  width: 20%;
}

.feedback-form__el.input {
  width: 60%;
  margin-right: 20%;
  margin-bottom: 10px;
}

.feedback-form__el.accept {
  float: none;
  clear: both;
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 6px;
}

.feedback-form__el.submit {
  float: none;
  display: block;
  width: 120px;
  margin: 0 auto;
}

.feedback-form__el.width-auto {
  width: auto;
}

.auth-form {
  width: 340px;
  margin: 0 auto;
}

.auth-form__fieldset {
  padding: 12px;
}

.auth-form__el {
  float: left;
  margin-bottom: 6px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.auth-form__el.label {
  width: 30%;
}
.auth-form__el.input {
  width: 70%;
}

.auth-form__el.submit {
  float: none;
  width: 60px;
  display: block;
  margin: 0 auto;
}

.req-form {
  width: 720px;
  margin: 0 auto 24px;
} 

.req-form__el {
  float: left;
  margin-bottom: 18px;
  box-sizing: border-box;
}

.req-form__fieldset {
  padding: 18px;
}

.req-form__el.label {
  width: 20%;
  height: 22px;
}
.req-form__el.input {
  width: 45%;
  height: 22px;
  box-sizing: border-box;
}
.req-form__el.info {
  width: 30%;
  height: 22px;
  padding-left: 12px;
}

.req-form__grou-title {
  margin: 6px 0;
  width: 100%;
  display: block;
}

hr {
  clear: both;
}

.input.input_lg {
  width: 75%;
}

.req-form__el.accept {
  float: none;
  display: inline-block;
  margin-top: 32px;
  margin-right: 18px;
}

.req-form__el.submit {
  display: inline-block;
  float: none;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}