<h2 class="mt-16 mb-32">Favorites</h2>
<div class="card-deck" *ngIf="favorites.length else noFav">
  <ng-container *ngFor="let recipe of favorites">
    <app-recipes-preview
      boxShadow
      [shadow]="'inset'"
      [shadowX]="2"
      [shadowY]="-2"
      [shadowBlur]="3"
      [stretching]="3"
      [color]="'rgba(48,59,48,.5)'"
      [recipe]="recipe"
      class="card recipe justify-content-between"
      ></app-recipes-preview>
  </ng-container>
</div>
<ng-template #noFav>
    <div class="alert alert-primary" role="alert">
        No favorite recipes :(
    </div>
</ng-template>
