@import "./ui-btn-mixins.scss";

.ui-btn {
  min-width: 300px;
  min-height: 94px;
  padding: 28px 36px;
  border: none;
  background: none;
  text-align: center;
  font-family: "Roboto Medium";
  font-size: 36px;
  color: $white;
  border-radius: 6px;
  border: 1px solid;
  outline: none;
  box-sizing: border-box;
  line-height: 1;

  &:active {
    box-shadow: inset 0px 2px 5px 2px rgba(0,0,0,0.2);
  }
}

.ui-btn--green {
  @include ui-btn($green-border, $green-end, $green-start);
  &:hover {
    @include ui-btn-hover($dark-green, $dark-green);
  }
}
.ui-btn--yellow {
  @include ui-btn($yellow-border, $yellow-end, $yellow-start);
  &:hover {
    @include ui-btn-hover($dark-yellow, $dark-yellow);
  }
}
.ui-btn--red {
  @include ui-btn($red-border, $red-end, $red-start);
  &:hover {
    @include ui-btn-hover($dark-red, $dark-red);
  }
}
.ui-btn--blue {
  @include ui-btn($blue-border, $blue-end, $blue-start);
  &:hover {
    @include ui-btn-hover($dark-blue, $dark-blue);
  }
}
.ui-btn--grey {
  @include ui-btn($grey-border, $grey-end, $grey-start);
  &:hover {
    @include ui-btn-hover($dark-grey, $dark-grey);
  }
}