<div class="mt-16 mb-16">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="recipte.photoUrl" class="card-img" [alt]="recipte.title">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{recipte.title}}</h1>
        <p class="card-text">{{ recipte.description}}</p>
        <p class="card-text">Category: <span>{{ recipte.categoryId | decodeCategory }}</span></p>
      </div>
    </div>
  </div>
</div>

<div class="mb-32">
    <button routerLink="/edit/{{ recipte.id }}" type="button" class="btn btn-primary ml-8">
      <fa name="edit"></fa>
      Edit
    </button>
    <ng-template #rmFromFav>
    <button type="button"
      class="btn btn-secondary ml-8"
      (click)="addToFavorites()"
    >
      <fa name="star"></fa>
      Add to Favorites
    </button>
  </ng-template>

      <button type="button"
        *ngIf="isFavorites else rmFromFav"  
        class="btn btn-danger ml-8"
        (click)="deleteFromFavorites()"
        >
        <fa name="trash"></fa>
        Delere from Favorites
      </button>
    <button type="button"
      class="btn btn-info ml-8"
      (click)="addToPurchases()"
    >
      <fa name="shopping-cart"></fa>
      Purchases
    </button>
</div>

<h2 class="mb-16">Ingredients</h2>

<ul class="list-group mb-32">
    <li *ngFor="let ingredient of recipte.ingredients;" class="list-group-item">
        {{ ingredient }}
    </li>
</ul>

<h2 class="mb-16">Instruction</h2>

<p> {{ recipte.instructions }} </p>