.blog-header {
  padding-top: 32px;
  margin-bottom: 100px;
  background-color: $blog-header-bg;
  color: $blog-color;
  position: relative;
  background-image: url(../img/pattern.png);

  &__title {
    margin-bottom: 42px;
    font-size: 45px;
    font-family: 'MyriadPro Regular';
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -12px;
      left: 0;
      background: linear-gradient(to right, #902616 0%, #fe3c1f 100%);
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    border-top: 0px solid $black;
    border-right: 30px solid transparent;
    border-bottom: 32px solid $white;
    box-sizing: border-box;

  }
}

.article-preview {
  margin-bottom: 100px;

  &__info {
    @include make-xs-column(2);
    text-align: center;
    color: $date-color;
    font-family: "Raleway SemiBold";
    text-transform: uppercase;
  }

  &__info-year {
    font-size: 24px;
    margin-bottom: 6px;
  }

  &__info-date {
    font-size: 24px;
    font-family: "Raleway Bold";
  }

  &__info-day {
    font-size: 51px;
    font-family: "Raleway Regular";
  }

  &__content {
    @include make-xs-column(10);
  }

  &__content-wrapper {
    padding-left: 38px;
    padding-top: 40px;
    padding-right: 42px;
    border: 1px solid $post-border;
  }

  &__img {
    height: 350px;
    background-color: $article-preview-bg;
    position: relative;
    overflow: hidden;

    &-el {
      position: relative;
      z-index: 1;
      width: 100%;
      height: auto;
    }

    &--no-image {
      height: 1px;
      background: $white;
      position: relative;
      overflow: visible;
      img {
        display: none;
      }

      & + .article-preview__content-wrapper {
        padding-top: 86px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 45%;
        height: 1px;
        left: 55%;
        top: 47px;
        background-color: $post-border;
        z-index: 3;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: (5000% / 97);
      border-left: 48px solid transparent;
      border-top: 48px solid $white;
      box-sizing: border-box;
      z-index: 1;
    }
  }

  &__img-label {
    position: absolute;
    left: calc(56.5% - 1px);
    top: 0;
    border-right: 47px solid transparent;
    border-bottom: 47px solid $label-color;
    z-index: 3;

    &--pic {
      &::before {
        content: '\e633';
      }
    }

    &--film {
      &::before {
        content: '\e6ce';
      }
    }

    &--write {
      &::before {
        content: '\e61c';
      }
    }

    &--music {
      &::before {
        content: '\e689';
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: 26px;
      top: 0;
      border-left: 47px solid transparent;
      border-top: 47px solid $label-color;
    }

    &::before {
      font-family: 'themify';
      font-size: 24px;
      color: $white;
      position: absolute;
      top: 0;
      line-height: 47px;
      width: 26px;
      left: -75px;
      z-index: 2;
      transform: translateX(49px);
      background-color: $label-color;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__title {
    padding-bottom: 16px;
    margin-bottom: 32px;
    font-family: "Raleway SemiBold";
    font-size: 28px;
    border-bottom: 1px solid $post-border;
  }

  &__statistics {
    margin-bottom: 28px;
  }

  &__statistics-author {
    font-family: 'OpenSans Regular' !important;
    display: inline-block;
    margin-right: 16px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: left center;

    &::before {
      font-family: 'themify';
      padding-right: 16px;
      color: $red-orange;

    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__statistics-comments {
    font-family: 'OpenSans Regular' !important;
    display: inline-block;
    margin-right: 16px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: left center;

    &::before {
      font-family: 'themify';
      padding-right: 16px;
      color: $red-orange;

    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    margin-bottom: 36px;
    line-height: 25px;
    color: $article-text-color;
  }

  &__link {
    font-family: "Raleway SemiBold";
    font-size: 16px;
    padding: 16px 28px;
    border: 1px solid $label-color;
    display: inline-block;
    color: $label-color;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;

    &:hover {
      color: $white;
      background-color: $label-color;
    }
  }

  &__rm {
    padding: 16px 28px;
    display: inline-block;
    border: 1px solid;
    font-size: 12px;
    height: 50px;
    margin-left: 16px;
    position: relative;
    vertical-align: middle;

    &:hover {
      color: red;
    }

    i {
      position: absolute;
      font-size: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}

.pagination {
  font-family: "Raleway SemiBold";
  font-size: 18px;
  margin-bottom: 117px;

  &__btns {
    @include make-xs-column(10);
    @include make-xs-column-push(2);
  }

  &__btn {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 1px solid $solitude;

    &:hover {
      color: $red-orange;
    }
  }

  &__btn-next {
    display: inline-block;
    cursor: pointer;
    height: 45px;
    padding: 0 28px;
    border: 1px solid $solitude;

    &:hover {
      color: $red-orange;
    }
  }
}

.add-article {
  position: absolute;
  right: 16px;
  bottom: 16px;
  text-transform: uppercase;
}