$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;

$body-bg: #659A01;

$content-bg: #666701;

$img-border: #659A01;

$brief-bg: #677D01;

$header-color: #FECC0F;

$text-color: #fff;
$brief-float: none;
$brief-w: 100%;

$link-color: #FECC0F;
$th-bg: #94A34E;
$table-w: 100%;
$td-bg: #677D01;
$th-bg: #94A34E;
$th-border: #94A34E;