<h2 class="mt-16">Add New Recipe</h2>

<div class="container">
  <form
    (ngSubmit)="submitHandled()"
    [formGroup]="recipeForm"
  >
    <div class="form-group">
      <label class="label">Title
        <input
          formControlName="title"
          [ngClass]="{'border-red': title.invalid && title.touched}"
          type="text" name="title" class="form-control" placeholder="Title"
          >
          <small
            class="form-text text-red"
            *ngIf="title.invalid && (title.dirty || title.touched)"
          >{{ title.invalid && title.touched && title.dirty ? 'Title must be at least 15 characters long' : 'Title is required'}}</small>
      </label>
    </div>

    <div class="form-group">
      <label class="label">Description
        <textarea
        formControlName="description"
        class="form-control"
        [ngClass]="{'border-red': description.invalid && description.touched}"
        id="exampleFormControlTextarea1"
        name="description"
        rows="6"></textarea>
        <small
          class="form-text text-red"
          *ngIf="description.invalid && (description.dirty || description.touched)"
        >Description is required</small>
      </label>
    </div>

    <div class="form-group">
      <label class="label">Photo URL
        <input
          formControlName="photoUrl"
          name="photoUrl"
          type="url" class="form-control"
          placeholder="Photo URL"
          [ngClass]="{'border-red': photoUrl.invalid && photoUrl.touched}"
        >
        <small
          class="form-text text-red"
          *ngIf="photoUrl.invalid && photoUrl.touched"
        > {{ photoUrl.invalid && photoUrl.touched && photoUrl.dirty ? 'Please enter the valid URL' : 'Photo URL is required'}}</small>
      </label>
    </div>

    <div class="form-group">
      <span class="mr-16 dib">Ingredients</span>
      <button
        class="btn btn-success"
        type="button"
        (click)="toogleIngtidientsList()"
      >
      <fa name="plus" *ngIf="!ingtidientsListShow else minus"></fa>
      <ng-template #minus>
        <fa name="minus"></fa>
      </ng-template>
      </button>
    </div>

      <form class="form-inline mb-16"
        *ngIf="ingtidientsListShow"
        [formGroup]="ingtidientsForm"
        (ngSubmit)="addIngtidient()"
      >
        <div class="d-flex align-items-baseline w-100">
          <input type="text"
            class="form-control flex-grow-1 mr-16"
            placeholder="Ingtidient"
            formControlName="ingtidients"
            [ngClass]="{'border-red': ingtidients.invalid && ingtidients.touched}"
            name="ingtidients"
          >
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="ingtidientsForm.invalid"
          >Add</button>
        </div>
        <small
        class="form-text text-red"
        *ngIf="_ingridients.invalid && (_ingridients.dirty || _ingridients.touched)"
      >
        {{ _ingridients.invalid && _ingridients.touched && _ingridients.dirty ? 'Ingredients must be at least 3 characters long' : 'Ingredients is required'}}</small>
      </form>

    <ul class="list-group mb-16" *ngIf="recipe.ingredients.length && ingtidientsListShow">
      <app-purchases-item
        *ngFor="let ingredient of recipe.ingredients"
        [purchase]="ingredient"
        (onRmPurchase)=rmIngtidient(ingredient)
        ></app-purchases-item>
    </ul>

    <div class="form-group">
        <label class="label">Instructions
          <textarea
            class="form-control"
            rows="5"
            formControlName="instructions"
            name="instructions"
            [ngClass]="{'border-red': instructions.invalid && instructions.touched}"
          ></textarea>
          <small
            class="form-text text-red"
            *ngIf="instructions.invalid && (instructions.dirty || instructions.touched)"
          >
            {{ instructions.invalid && instructions.touched && instructions.dirty ? 'Title must be at least 15 characters long' : 'Title is required'}}</small>
        </label>
        </div>
        
        <div class="form-group">
          <label class="label">Category
            <select class="form-control"
              formControlName="categoryId"
              [ngClass]="{'border-red': categoryId.invalid && categoryId.touched}"
              name="categoryId"
            >
            <option
              *ngFor="let category of categories"
              [value]="category"
            >{{ category | decodeCategory }}</option>
          </select>
          <small
            class="form-text text-red"
            *ngIf="categoryId.invalid && (categoryId.dirty || categoryId.touched)"
          >Category is required</small>
        </label>
    </div>
    <button [disabled]='recipeForm.invalid' type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>