<app-header (onChangedRoute)="changedRoute($event)"></app-header>

<div class="container-fliud">

  <ng-container *ngIf="route === '/'">
    <div class="mt-16">
      <button type="button" class="btn btn-success" (click)="changedRoute('/add-recipe')">Add Recipe</button>
    </div>
    <app-recipes-list class="card-deck"></app-recipes-list>
  </ng-container>

  <app-recipe-detail *ngIf="route === 'TODO'"></app-recipe-detail>

  <app-recipe-form *ngIf="route === '/add-recipe'"></app-recipe-form>

  <app-favorites-recipe *ngIf="route === '/favorites'"></app-favorites-recipe>

  <app-purchases  *ngIf="route === '/purchases'"></app-purchases>

</div>
