// BLOG

$blog-header-bg: $raven;
$blog-color: $white;
$date-color: $light-grayish-blue;

//
$article-preview-bg: $raven;
$article-text-color: $fiord;
$label-color: $red-orange;

$avarar-border-color: $red-orange;
$reply-color: $red-orange;

$input-border: $mischka;

$pelated-post-bg: $raven;
$tab-border: $raven;

$post-border: $solitude;


//FOOTER

$footer-bg: $night-rider;
$footer-bg-btn: $bright-grey;

$shere-hover: $lightblue;
$shere-color: $fiord;

//HOME

$header-bg: $steel-grey;
$carousel-btn: $manatee;
$paralax-bg: $dark-pink;