@font-face {
  font-family: 'Calluna';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Calluna.otf') format('otf');
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Georgia.woff') format('woff');
}

@font-face {
  font-family: 'Geramond';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Geramond.ttf') format('ttf');
}