@font-face {
  font-family: 'OpenSans Bold';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('/fonts/OpenSans-Bold.woff') format('woff'),
    url('/fonts/OpenSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'OpenSans Light';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/OpenSans-Light.woff2') format('woff2'),
    url('/fonts/OpenSans-Light.woff') format('woff'),
    url('/fonts/OpenSans-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'OpenSans Regular';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/OpenSans-Regular.woff') format('woff'),
    url('/fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'OpenSans SemiBold';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('/fonts/OpenSans-SemiBold.woff') format('woff'),
    url('/fonts/OpenSans-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Raleway-Bold.woff2') format('woff2'),
    url('/fonts/Raleway-Bold.woff') format('woff'),
    url('/fonts/Raleway-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway Light';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Raleway-Light.woff2') format('woff2'),
    url('/fonts/Raleway-Light.woff') format('woff'),
    url('/fonts/Raleway-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway Medium';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Raleway-Medium.woff2') format('woff2'),
    url('/fonts/Raleway-Medium.woff') format('woff'),
    url('/fonts/Raleway-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway Regular';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Raleway-Regular.woff2') format('woff2'),
    url('/fonts/Raleway-Regular.woff') format('woff'),
    url('/fonts/Raleway-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Raleway SemiBold';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('/fonts/Raleway-SemiBold.woff') format('woff'),
    url('/fonts/Raleway-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'MyriadPro Regular';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('/fonts/MyriadPro-Regular.woff') format('woff'),
    url('/fonts/MyriadPro-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'themify';
  font-style: normal;
  font-weight: 300;
  src: url('..//fonts/themify.woff') format('woff'),
    url('..//fonts/themify.svg') format('svg'),
    url('..//fonts/themify.ttf') format('ttf');
}