@font-face {
  font-family: "Calluna";
  font-style: normal;
  font-weight: 300;
  src: url("/font/Calluna.otf");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 300;
  src: url("/font/Georgia.woff");
}

@font-face {
  font-family: "Geramond";
  font-style: normal;
  font-weight: 300;
  src: url("/font/Geramond.ttf");
}

@font-face {
  font-family: "LaurenScript";
  font-style: normal;
  font-weight: 300;
  src: url("/font/LaurenScript.ttf");
}