.hero {
  height: 894px;
  color: $white;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  text-align: center;
  margin-bottom: 68px;

  &__header {
    font-size: 56px;
    font-family: "Roboto Thin";
    margin-bottom: 22px;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 62px;
  }
}

.hero-form {
  color: $black;
  text-align: left;

  &__header {
    font-size: 24px;
    margin-bottom: 34px;
    text-align: center;
  }

  &__wrapper {
    width: 338px;
    height: 394px;
    margin: 0 auto;
    padding: 42px;
    background: $white;
  }

  &__label {
    display: block;
    color: rgba($color: $darck-grey, $alpha: .5);
    font-size: 12px;
  }

  &__input {
    display: block;
    color: $black;
    font-size: 16px;
    width: 100%;
    margin-bottom: 30px;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid $grey;
  }

  &__btn {
    display: block;
    width: 216px;
    height: 38px;
    font-size: 16px;
    margin: 0 auto;
    border: none;
    background: $purple;
    font-family: "Roboto Regular";
    color: $white;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  }
}

@media all and (max-width: 1024px) {
  .hero {
    margin-bottom: 64px;
    height: auto;

    &__header {
      width: 94%;
      margin: 0 auto;
      margin-bottom: 22px;
    }

    &__text {
      margin-bottom: 72px;
    }
  }

  .hero-form {
    margin-bottom: 94px;
  }
}

@media all and (max-width: 768px) {
  .hero {
    margin-bottom: 54px;
  }

  .hero__header {
    font-size: 50px;
  }

  .hero__text {
    margin-bottom: 66px;
  }

  .hero-form__header {
    font-size: 22px;
  }

  .hero-form__input {
    margin-bottom: 26px;
  }

  .hero-form {
    margin-bottom: 82px;
  }

  .hero-form__wrapper {
    height: 378px;
  }

  .hero-form__input {
    font-size: 14px;
  }

  .hero-form__btn {
    font-size: 14px;
    width: 190px;
  }
}


@media all and (max-width: 768px) {

  .hero {
    margin-bottom: 43px;
    br {
      display: none;
    }
  }

  .hero__header {
    font-size: 52px;
    margin-bottom: 26px;
  }

  .hero-form {
    margin-bottom: 72px;
  }
}