$white: #fff;
$light-grey: #c2c2c2;

/////////////////////

$green: #27ae60;
$dark-green: #29af62;
$green-border: #29aa60;

$green-start: #10a64f;
$green-end: #2ac16a;

/////////////////////

$yellow: #f1c40f;
$dark-yellow: #f1c612;
$yellow-border: #f1c40f;

$yellow-start: #efbd00;
$yellow-end: #ffda11;

/////////////////////

$red: #e74c3c;
$dark-red: #e85141;
$red-border: #e14231;

$red-start: #e43826;
$red-end: #ff5543;

/////////////////////

$blue: #2980b9;
$dark-blue: #3187bd;
$blue-border: #297fb8;

$blue-start: #1273b2;
$blue-end: #2e8fce;

/////////////////////

$grey: #454c4d;
$dark-grey: #4b5152;
$grey-border: #42494b;

$grey-end: #4d5556;
$grey-start: #303839;