$black: #3f3f3e;
$grey: #969693;
$pirple: #86d8cd;
$yellow: #f9c34a;

$purple-text: #3ab3a6;
$text-grey: #979797;

$header-bg: #e9eae2;

$goods-bg: #f5f5f5;

$pots: #7dd5c9;

$pots-color: #266258;

$shake-bg: #bfe79e;

$auth-color: #f8c255;