$black: #000000;
$white: #fff;
$darck-grey: #2a2d2e;
$purple: #9c27b0;
$grey: #9a9b9b;
$night-rider: #303030;
$lightblue: #55acee;
$mischka: #A0A6AF;
$pattens-blue: #e0e2e4;
$steel-grey: #3D4148;

$raven: #656D78;
$raven-light: #6d747f;
$manatee: #8B8D91;
$solitude: #E6E9ED;

$light-grayish-blue: #AAB2BD;

$fiord: #4E5860;

$red-orange: #FF3C1F;

$bright-grey: #57595B;

$dark-pink: #d14b3a;

$dark-grayishnavy: #656d7a;

$bright-grey-2: #51565C;