* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.house {
  width: 250px;
  height: 250px;
  background-color: #9F4F77;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  &__window {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 100px;
    height: 100px;
    background-color: #919378;
    border: 4px solid;

    &:after {
      content: "";
      position: absolute;
      width: 4px;
      height: calc(100% + 3px);
      background-color: black;
      top: -2px;
      left: 50px;
      transform: translateX(-50%);
    }

    &:before {
      content: "";
      position: absolute;
      height: 4px;
      width: calc(100% + 3px);
      background-color: black;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__door {
    position: absolute;
    width: 20%;
    height: 50%;
    right: 0;
    bottom: 0;
    background-color: #9A3256;

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #919378;
      border-radius: 50%;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
    }
  }

  &__tube {
    position: absolute;
    width: 10%;
    height: 45%;
    bottom: 100%;
    right: 5%;
    background-color: #9A3256;
    z-index: 1;
  }

  &__hat {
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 100%;
    left: -50%;
    border-left: 200px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 150px solid blue;
    z-index: 2;
  }

}

.plant {
  position: fixed;
  top: 50vh;
  width: 100%;
  height: 55vh;
  background-color: green;
  z-index: -1;
}