@import "../ui-btn/ui-btn-mixins.scss";
@import "../vars";

.ui-checkbox {
  &__label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid $light-grey;
    box-sizing: border-box;
    background: $white;
    border-radius: 6px;
    position: relative;

  }

  &__input {
    display: none;
  }

  &__input:checked+&__label {

    &::before {
      content: "";
      width: 10px;
      height: 18px;
      position: absolute;
      border-right: 4px solid $white;
      border-bottom: 4px solid $white;
      box-sizing: border-box;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(45deg);

    }

    &--green {
      @include ui-btn($green-border, $green-end, $green-start);
    }

    &--yellow {
      @include ui-btn($yellow-border, $yellow-end, $yellow-start);
    }

    &--red {
      @include ui-btn($red-border, $red-end, $red-start);
    }

    &--blue {
      @include ui-btn($blue-border, $blue-end, $blue-start);
    }

    &--grey {
      @include ui-btn($grey-border, $grey-end, $grey-start);
    }
  }

  &__input[disabled="disabled"]+&__label {
    opacity: .5;
  }
}